
<div class="jumbotron">
	<h1>ABOUT <%= link_to 'ACA Search', root_path %></h1>
	<h2> Affordable Care Act (ACA) </h2>
	<p>The Afforable Care Act (ACA), also known as Obamacare, requires individuals to purchase approved health insurance policies. Health insurance premiums capture a significant portion of many Americans' budgets. Despite the significant cost of health insurance and the potential to save money depending upon coverage choices Americans typically do not investigate their options. People often purchase health insurance with limited understanding of available choices. The aim of ACA Search application is to help people to understand and easily compare insurance cost.</p>

	<h2> Sources </h2>
	<p>The health insurance company information reported through ACA Search is sourced via an API. The Data.HealthCare.gov API is powered by Socrata. <%= link_to "QHP Landscape Individual Market Medical", ('https://dev.socrata.com/foundry/#/data.healthcare.gov/qbh2-42zk') %></p>
	<h2> Notice </h2>
	<p>ACA Search is in development. It was created for a Back-End Web Development project. To learn more about your health insurance options <%= link_to "visit", ('https://healthcare.gov') %> the official United States government website for ACA information and enrollment.</p>

</div>

